* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .main {
    width: 580px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .main .searchBx {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

section .main .searchBx .query {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
}section .main .searchBx